version: "3.9"

services:
  redis:
    image: redis:7.2
    container_name: auth-service-redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - redis-data:/data

volumes:
  redis-data: